@import "colors.less";
@import "fonts.less";

body {
    background-color: #E6E6E6;
    padding-top: 50px; 
}

header.header {
    .navbar {
        background-color: #FFF;
    }
}

.footer {
    margin-top: 20px;
}

section.area-cover {
    background-color: #666;
    // max-height: 500px;
    height: 200px;
    margin-bottom: 20px;
    .cover-pic {
        img {
            width: 100%;
        }
    }
}